{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>{{ current_blog.title }}</title>
        <meta name="title" content="{{ current_blog.title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ current_blog.description }}">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://raphaellyeditorials.netlify.app/blog/blog_1">
        <meta property="og:title" content="{{ current_blog.title }}">
        <meta property="og:description" content="{{ current_blog.description }}">
        <meta property="og:image" content="{{ current_blog.picture }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://raphaellyeditorials.netlify.app/blog/blog_1">
        <meta property="twitter:title" content="{{ current_blog.title }}">
        <meta property="twitter:description" content="{{ current_blog.description }}">
        <meta property="twitter:image" content="{{ current_blog.picture }}">
        
        <!--Others-->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'blog_1.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Open+Sans:wght@300&display=swap">
        <script src="https://kit.fontawesome.com/5f9dc54cf3.js" crossorigin="anonymous"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3675990842286511"
        crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="hamburga">
            <div id="hamburger">
                <div class="line"></div>
            </div>
        </div>
        <div class="menuicons ">
            <nav id="navrespond">
                <ul class="navresul">
                    <li>
                        <a href="{% url 'index' %}" id="resnavlinks1">
                            <div class="icon">
                                <!-- <i class="fa-solid fa-house"></i> Home -->
                                Home
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" id="resnavlinks2">
                            <div class="icon">
                                <!-- <i class="fa-regular fa-address-card"></i> About -->
                                About
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../index.html#section_3" id="resnavlinks3">
                            <div class="icon">
                                <!-- <i class="fa-solid fa-briefcase"></i> Services -->
                                Services
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'randomblog' %}" id="resnavlinks4">
                            <div class="icon">
                                <!-- <i class="fa-solid fa-newspaper"></i> Blog -->
                                Blog
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../index.html#section_4" id="resnavlinks5">
                            <div class="icon">
                                <!-- <i class="fa-solid fa-phone"></i> Contact Us -->
                                Contact Us
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <nav class="nav">
            <span class="head">
                <a href="{% url 'index' %}"> Raphaelly Editorial Services </a>
            </span>
            <ul>
                <li>
                    <a href="{% url 'index' %}">HOME</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#section_2">ABOUT</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#section_3">SERVICES</a>
                </li>
                <li>
                    <a href="{% url 'randomblog' %}">BLOG</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#section_4">CONTACT</a>
                </li>
            </ul>
        </nav>
        <section>
            {% block content %}
            
            {% endblock %}
            <div class="otherblogs">
                <div class="flextitle">
                    <h1>Recent Articles</h1>
                </div>
                <div class="othersfr snaps-inline">
                    {% for blog in blogs_list %}
                    {% if current_blog != blog %}
                    <a href="{% url 'blog' blog.id %}" class="flexblog" data-aos="fade-left" data-aos-delay="0">
                        <img src="{{blog.picture.url}}">
                        <div class="blog-box-div">
                            <div class="blogtitle">{{ blog.category }}</div>
                            <div class="blogtopic">{{ blog.title }}</div>
                            <div class="date">{{ blog.upload_date }}</div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="contactus">
            <a href="https://goo.gl/maps/vauqSq4TmjPRL8T68" class="con" data-aos="fade-right">
                <i class="fas fa-map-marker-alt"></i>
            </a>
            <a href="https://wa.link/7abn6k" class="con" data-aos-delay="50" data-aos="fade-right">
                <i class="fas fa-phone-alt"></i>
            </a>
            <a href="mailto:sunday.raphael4@gmail.com" class="con" data-aos-delay="100" data-aos="fade-right">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
        <footer>
            <div class="useful">
                <h1>Editorial Services</h1>
                <ul>
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#section_2">About</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#section_3">Services</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#section-3">Past Publications</a>
                    </li>
                </ul>
            </div>

            <div class="coontact">
                <!-- <i class="fas fa-map-marker-alt"></i> -->
                <div class="topic">Address</div>
                <div class="textone">6 Haastrup Ajimoko close, Shomolu</div>
                <div class="texttwo">Lagos, Nigeria.</div>
            </div>
            <div class="coontact">
                <!-- <i class="fas fa-phone-alt"></i> -->
                <div class="topic">Phone</div>
                <div class="textone">+234-8023-4172-48</div>
                <div class="texttwo">+234-8101-3128-36</div>
            </div>
            <div class="coontact">
                <!-- <i class="fas fa-envelope"></i> -->
                <div class="topic">E-mail</div>
                <div class="sunraph4">
                    <a href="mailto:sunday.raphael4@gmail.com"> sunday.raphael4@gmail.com </a>
                </div>
            </div>
            <div class="copyright">Copyright &copy; 2022. Raphaelly Editorial Services.</div>
        </footer>
        <div class="extra">
            
        </div>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script src="{% static 'blog_1.js' %}"></script>
    </body>
</html>