{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Raphaelly Editorial Services</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Open+Sans:wght@300&display=swap">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
        <!-- Primary Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Raphaelly Editorial Services">
        <meta name="description" content="Reach out to us today! We offer an extensive range of editorial services including Editing, Book Review, Project writing, Research, Biography and Autobiography writing, Market Consultancy and so much more.">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://raphaellyeditorials.netlify.app/">
        <meta property="og:title" content="Raphaelly Editorial Services">
        <meta property="og:description" content="Reach out to us today! We offer an extensive range of editorial services including Editing, Book Review, Project writing, Research, Biography and Autobiography writing, Market Consultancy and so much more.">
        <meta property="og:image" content="{% static 'img/raphaellyhomess' %}">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://raphaellyeditorials.netlify.app/">
        <meta property="twitter:title" content="Raphaelly Editorial Services">
        <meta property="twitter:description" content="Reach out to us today! We offer an extensive range of editorial services including Editing, Book Review, Project writing, Research, Biography and Autobiography writing, Market Consultancy and so much more.">
        <meta property="twitter:image" content="{% static 'img/raphaellyhomess' %}">
        <script src="https://kit.fontawesome.com/5f9dc54cf3.js" crossorigin="anonymous"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3675990842286511"
        crossorigin="anonymous"></script>
    </head>
    <body>
        <section class="section-1">
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'index' %}">HOME</a>
                    </li>
                    <li>
                        <a href="#section_2">ABOUT</a>
                    </li>
                    <li>
                        <a href="#section_3">SERVICES</a>
                    </li>
                    <li>
                        <a href="{% url 'randomblog' %}">BLOG</a>
                    </li>
                    <li>
                        <a href="#section_4">CONTACT</a>
                    </li>
                </ul>
            </nav>
            <div class="main-text">
                <div class="span-1">
                    <div class="wrapper">
                        <span class="raphaelly">R</span>
                        <span class="raphaelly">a</span>
                        <span class="raphaelly">p</span>
                        <span class="raphaelly">h</span>
                        <span class="raphaelly">a</span>
                        <span class="raphaelly">e</span>
                        <span class="raphaelly">l</span>
                        <span class="raphaelly">l</span>
                        <span class="raphaelly">y</span>
                    </div>
                    <div class="wrapper1">
                        <span class="editorial">E</span>
                        <span class="editorial">d</span>
                        <span class="editorial">i</span>
                        <span class="editorial">t</span>
                        <span class="editorial">o</span>
                        <span class="editorial">r</span>
                        <span class="editorial">i</span>
                        <span class="editorial">a</span>
                        <span class="editorial">l</span>
                    </div>
                    <div class="wrapper2">
                        <span class="services">S</span>
                        <span class="services">e</span>
                        <span class="services">r</span>
                        <span class="services">v</span>
                        <span class="services">i</span>
                        <span class="services">c</span>
                        <span class="services">e</span>
                        <span class="services">s</span>
                    </div>
                </div>
                <div class="information">
                    We offer you the very best professional services in project writing and editing, article review, research and marketing consultancy, and a wide range of editorial services . . .
                </div>
            </div>
            <a href="mailto:sunday.raphael4@gmail.com" id="instamail">
                <span class="email-txt">E-mail Us</span>
            </a>
            <div class="hamburga">
                <div id="hamburger">
                    <div class="line"></div>
                </div>
            </div>
            <div class="menuicons ">
                <nav id="navrespond">
                    <ul class="navresul">
                        <li>
                            <a href="{% url 'index' %}" id="resnavlinks1"><div class="icon">
                                <!-- <i class="fa-solid fa-house"></i> -->
                                Home
                            </div></a>
                        </li>
                        <li>
                            <a href="#section_2" id="resnavlinks2">
                                <div class="icon">
                                    <!-- <i class="fa-regular fa-address-card"></i> -->
                                    About
                                </div></a>
                        </li>
                        <li>
                            <a href="#section_3" id="resnavlinks3">
                                <div class="icon">
                                    <!-- <i class="fa-solid fa-briefcase"></i> -->
                                    Services
                                </div></a>
                        </li>
                        <li>
                            <a href="{% url 'randomblog' %}" id="resnavlinks4">
                                <div class="icon">
                                    <!-- <i class="fa-solid fa-newspaper"></i> -->
                                    Blog
                                </div></a>
                        </li>
                        <li>
                            <a href="#section_4" id="resnavlinks5">
                                <div class="icon">
                                    <!-- <i class="fa-solid fa-phone"></i> -->
                                    Contact Us
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <a id="section_2">
            <section class="section2">
        </a>
        <div class="aboutmetextarea">
            <h1>About <span class="medeco">Us</span>
            </h1>
            <p>We are a group of professionals committed to adding value to your writing. With over 15 years of engagement in educational and editorial services, we bring professionalism to writing and academic presentations. </p>
            <p>
                <span class="goal">Our Goal</span> is to be an unrivalled point of excellence, professionalism and to be the most valued editorial service provider for our clients.
            </p>
            <a href="https://wa.link/7abn6k" class="knowmore">
                <span class="email-txt">More About Us</span>
            </a>
        </div>
        <a id="section_3">
            <section class="servicess">
        </a>
        <div class="bg"></div>
        <h1>Services</h1>
        <p class="p">Our services are prime including:</p>
        <ul>
            <li>Editing</li>
            <li>Proofreading of articles, books, reports, manuscripts etc.</li>
            <li>Book Review</li>
            <li>Book or Article Abridgements</li>
            <li>Biography Development</li>
            <li>Autobiography Development</li>
            <li>Advisory services on Book structure</li>
            <li>Book critique</li>
            <li>Formatting</li>
            <li>Project, Research and Marketing Consultancy</li>
        </ul>
        <p class="servicesfooter">and other related services..</p>
        </section>
        <section class="section-5">
            <h1 class="standardh1">Recent <span class="medeco">Articles</span></h1>
            <div class="blog-div snaps-inline">
                {% for blog in blogs %}
                <div class="blog-box" data-aos="fade-left" data-aos-delay="0" data-aos-offset="200">
                    <img src="{{ blog.picture.url}}">
                    <div class="blog-box-div">
                        <span class="title">{{blog.category}}</span>
                        <span class="topic">{{blog.title}}</span>
                        <div class="mins-date">
                            <span class="mins">{{blog.read_time}} mins read</span>
                            <span class="date">{{blog.upload_date}}</span>
                        </div>
                        <a href="{% url 'blog' blog.id%}">
                            <div class="layer">
                                <h3>Read Article</h3>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <a href="" id="section-2">
            <section class="section-2">
        </a>
            <div class="progintro">
                <h1>Past <span class="red">Publications</span>
                </h1>
                <p>Here are some books that have received our editorial services:</p>
            </div>
            <div class="pastwork">
                <div class="flex" data-aos="fade-left" data-aos-offset="110">
                    <h2>Local Government Administration in Nigeria</h2>
                    <p> E.A. Olori </p>
                </div>
                <div class="flex" data-aos="fade-left" data-aos-offset="110">
                    <h2>Between Vision and Its Manifestation</h2>
                    <p>Eric Akinkuowo </p>
                </div>
                <div class="flex" data-aos="fade-left" data-aos-offset="110">
                    <h2>Brand Building by Direct Contact</h2>
                    <p>J. Dada </p>
                </div>
                <div class="flex" data-aos="fade-left" data-aos-offset="110">
                    <h2>Face of a Nation</h2>
                    <p>O.Z. Zimako </p>
                </div>
            </div>
        </section>
        <a id="section_4">
            <section class="contactpg">
        </a>
        <h1>Contact Us
        </h1>
        <div class="contactuscontent">
            <div class="coontact address">
                <a href="https://goo.gl/maps/vauqSq4TmjPRL8T68" class="con">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
                <div class="topic">Address</div>
                <div class="textone">6 Haastrup Ajimoko close, Shomolu</div>
                <div class="texttwo">Lagos, Nigeria.</div>
            </div>
            <div class="coontact phonedetails">
                <a href="https://wa.link/7abn6k" class="con">
                    <i class="fas fa-phone-alt"></i>
                </a>
                <div class="topic">Phone</div>
                <div class="textone">+234-8023-4172-48</div>
                <div class="texttwo">+234-8101-3128-36</div>
            </div>
            <div class="coontact emaildetails">
                <a href="mailto:sunday.raphael4@gmail.com" class="con">
                    <i class="fas fa-envelope"></i>
                </a>
                <div class="topic">E-mail</div>
                <div class="textone">
                    <a href="mailto:sunday.raphael4@gmail.com" id="mygmail">
                        <span class="sunraph4">sunday.raphael4@gmail.com</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright &copy; 2022. Raphaelly Editorial Services.</div>
        </section>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script src="{% static 'index.js' %}"></script>
    </body>
</html>